input {
    display: flex;
    width: 100%;
}
#image {
    margin-top: 15px;
}
.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}
.image-preview-img {
    display: none;
    width: 100%;
}
body {
    font-family: 'SimSun';
}
.getElementById.innerHTML {
    display: flex;
}